{% extends "base.html" %}
{% block content %}
    <h2>Players</h2>

<body>
    <div class="container-teamsplayersall">
        <div class="row">
            <div class="row">
                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/1/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/215.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/1/"><h3>Tim Duncan</h3></a>
                    <h4>"The Big Fundamental"</h4>
                    <h4>San Antonio Spurs</h4>
                    <a href="/teams/1/"><img style="width:300px; max-width:95%" src="http://img3.wikia.nocookie.net/__cb20101020224944/nba/images/e/ec/San_Antonio_Spurs_logo.png"></a>

                </ul>
                </div>

                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/2/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1966.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/2/"><h3>Lebron James</h3></a>
                    <h4>"King James"</h4>
                    <h4>Cleveland Cavaliers</h4>
                    <a href="/teams/8/"><img style="width:300px; max-width:95%" src="http://www.wksu.org/news/images/38532/Cavaliers-Logo.png"></a>
                </ul>
                </div>

            </div>


        </div>
    <br></br>
            <div class="row">
                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/3/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/110.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/1/"><h3>Kobe Bryant</h3></a>
                    <h4>"Black Mamba"</h4>
                    <h4>Los Angeles Lakers</h4>
                    <a href="/teams/3/"><img style="width:300px; max-width:95%" src="http://upload.wikimedia.org/wikipedia/en/9/9a/Los_Angeles_Lakers_logo.png"></a>

                </ul>
                </div>

                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/4/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/592.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/4/"><h3>Steve Nash</h3></a>
                    <h4>"Captain Canada"</h4>
                    <h4>Los Angeles Lakers</h4>
                    <a href="/teams/3/"><img style="width:300px; max-width:95%" src="http://upload.wikimedia.org/wikipedia/en/9/9a/Los_Angeles_Lakers_logo.png"></a>
                </ul>
                </div>

            </div>
    <br></br>
            <div class="row">
                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/5/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1987.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/5/"><h3>Dywane Wade</h3></a>
                    <h4>"Flash"</h4>
                    <h4>Miami Heat</h4>
                    <a href="/teams/2/"><img style="width:300px; max-width:95%" src="http://blog.yellowdoggdesigns.com/wp-content/uploads/2013/06/miami-heat-logo.jpg"></a>

                </ul>
                </div>

                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/6/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1015.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/6/"><h3>Tony Parker</h3></a>
                    <h4>"TP"</h4>
                    <h4>San Antonio Spurs</h4>
                    <a href="/teams/1/"><img style="width:300px; max-width:95%" src="http://img3.wikia.nocookie.net/__cb20101020224944/nba/images/e/ec/San_Antonio_Spurs_logo.png"></a>
                </ul>
                </div>

            </div>
    <br></br>
            <div class="row">
                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/7/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/609.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/7/"><h3>Dirk Nowitzki</h3></a>
                    <h4>"Dirk"</h4>
                    <h4>Dallas Mavericks</h4>
                    <a href="/teams/5/"><img style="width:300px; max-width:95%" src="http://electricmaninc.com/wp-content/uploads/2011/03/dallas_mavericks_logo_yyq71.png"></a>

                </ul>
                </div>

                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/8/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3202.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/8/"><h3>Kevin Durant</h3></a>
                    <h4>"KD"</h4>
                    <h4>Oklahoma City Thunder</h4>
                    <a href="/teams/10/"><img style="width:300px; max-width:95%" src="http://img2.wikia.nocookie.net/__cb20120119223616/nba2k/images/7/74/Oklahoma_City_Thunder_Logo.png"></a>
                </ul>
                </div>

            </div>
    <br></br>
            <div class="row">
                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/9/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6450.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/9/"><h3>Kawhi Leonard</h3></a>
                    <h4>"The Future"</h4>
                    <h4>San Antonio Spurs</h4>
                    <a href="/teams/1/"><img style="width:300px; max-width:95%" src="http://img3.wikia.nocookie.net/__cb20101020224944/nba/images/e/ec/San_Antonio_Spurs_logo.png"></a>

                </ul>
                </div>

                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/10/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3456.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/10/"><h3>Derrick Rose</h3></a>
                    <h4>"D-Rose"</h4>
                    <h4>Chicago Bulls</h4>
                    <a href="/teams/9/"><img style="width:300px; max-width:95%" src="http://www.blainebpa.org/WebsiteSTATE/images/Chicago-Bulls-Logo.png"></a>
                </ul>
                </div>

            </div>
    <br></br>
            <div class="row">
                <div id="image" class="col-md-3 col-sm-6">
                    <a href="/players/11/"><img style="width:300px; max-width:95%" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/662.png&w=350&h=254"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                <ul>
                    <a href="/players/11/"><h3>Paul Pierce</h3></a>
                    <h4>"The Truth"</h4>
                    <h4>Washington Wizards</h4>
                    <a href="/teams/7/"><img style="width:300px; max-width:95%" src="http://upload.wikimedia.org/wikipedia/en/thumb/b/bd/Washington_Wizards_Logo.svg/521px-Washington_Wizards_Logo.svg.png"></a>

                </ul>
                </div>

            </div>

    </div>

</body>

    <h2><a href="/teams/">Go to Teams</a></h2>
    <h2><a href="/years/">Go to Years</a></h2>
    </br></br></br></br>
    <h6>Player profile pictures credited to espn.com</h6>
{% endblock %}
