<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{STATIC_URL}}/img/basketball.png">

    <title>NBAdb</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}/css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--script src="../../assets/js/ie-emulation-modes-warning.js"></script -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- script src="../../assets/js/ie10-viewport-bug-workaround.js"></script -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="container marketing">

          <!-- Three columns of text -->
            <div class="row">
              <div class="col-lg-4">
                <a href="/teams/"><img class="img-rounded" src="http://img3.wikia.nocookie.net/__cb20101020224944/nba/images/e/ec/San_Antonio_Spurs_logo.png" style="width: 140px; height: 140px;"></a>
                <h2><a href="/teams/">Teams</a></h2>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <a href="/players/"><img class="img-rounded" src="http://pixel.nymag.com/content/dam/daily/sports/2012/06/21/21-lebron-james.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
                <h2><a href="/players/">Players</a></h2>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <a href="/years/"><img class="img-rounded" src="http://t1.rbxcdn.com/a3d84e8396b0d5ed1ee18939d55b9f94" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
                <h2><a href="/years/">Years</a></h2>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}/js/docs.min.js"></script>
  </body>
</html>
