FORMAT: 1A
HOST: http://www.google.com

# 373-nba
373-nba is an API for NBA IDB

## Teams Collection [/teams]
### List all Teams [GET]
+ Response 200 (application/hal+json)

        [
            {
                "id": 1,
                "name": "Heat",
                "location": "Miami"
            },
            {
                "id": 2,
                "name": "Lakers",
                "location: "Los Angeles"
            },
            {
                "id": 3,
                "name": "Spurs",
                "location": "San Antonio"
            }
        ]


## Team [/teams/{id}]
A single Team object with all its details

+ Parameters
    + id (required, int) ... Unique team ID in the form of an integer

+ Model (application/hal+json)
 
    + Body
 
            {
                "id": 1,
                "name": "Heat",
                "location": "Miami"
            }

### Retrieve a single Team [GET]
 
+ Response 200 (application/json)
 
    [Team][]
    
+ Response 404 (application/json)
 
        { 
            "error": "Resource not found" 
        }


## Players Collection [/players]
### List all Players [GET]
+ Response 200 (application/hal+json)

        [
            {
                "id": 1,
                "last name": "Bryant",
                "first name": "Kobe"
            },
            {
                "id": 2,
                "last name": "Duncan",
                "first name": "Tim"
            },
            {
                "id": 3,
                "last name": "James",
                "first name": "Lebron"
            }
        ]


## Player [/players/{id}]
A single Player object with all its details

+ Parameters
    + id (required, int) ... Unique player ID in the form of an integer

+ Model (application/hal+json)
 
    + Body
 
            {
                "id": 1,
                "last name": "Bryant",
                "first name": "Kobe"
            }

### Retrieve a single Player [GET]
 
+ Response 200 (application/json)
 
    [Player][]
    
+ Response 404 (application/json)
 
        { 
            "error": "Resource not found" 
        }


## Seasons Collection [/seasons]
### List all Playoffs [GET]
+ Response 200 (application/hal+json)

        [
            {
                "id": 1,
                "year": "2014",
                "champion": "Spurs"
            },
            {
                "id": 2,
                "year": "2013",
                "champion": "Heat"
            },
            {
                "id": 3,
                "year": "2012",
                "champion": "Heat"
            }
        ]


## Season [/seasons/{id}]
A single Season object with all its details

+ Parameters
    + id (required, int) ... Unique season ID in the form of an integer

+ Model (application/hal+json)
 
    + Body
 
            {
                "id": 1,
                "year": "2014",
                "champion": "Spurs"
            }

### Retrieve a single Player [GET]
 
+ Response 200 (application/json)
 
    [Season][]
    
+ Response 404 (application/json)
 
        { 
            "error": "Resource not found" 
        }




